@charset "utf-8";

/* 
 * Stylesheet Color Palette
 * 
 * 
 */
 @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* :root {
    --main-color: #FFEDDE;
    --border:1px solid black;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
/*
TO DOS:
- center everything
- make the boxes 
*/

h1 {
    font-family:'Barlow', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

body {
    background-color: white;
    /* font-family: 'Barlow', sans-serif; */
    /* border: 1px solid black; */
    font-weight: normal;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: center;
}

.box-container .box {
    border: 1px solid black;
    text-align: left;
    width: 50%;
    padding: 10px;   
}

form {
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
}
